<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="/style3.css" rel="stylesheet" type="text/css" />
</head>

<p id="top"><%= current_user.username %>   <a href="/recipes">Home</a> <a href="/recipes/new">New Recipe</a> <a href="/users/<%= current_user.id %>">My Recipes</a> <a href="/logout">Logout</a></p>

<% if @recipe.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @recipe.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1>Edit <%= @recipe.name %></h1>

<form action="/recipes/<%= @recipe.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <label>Name:</label><br>
  <input type="text" name="name" value="<%= @recipe.name %>"><br><br>
  <label>Category:</label><br>
  <input type="text" name="category" value="<%= @recipe.category %>"><br><br>
  <label>Prep Time:</label><br>
  <input type="text" name="prep_time" value="<%= @recipe.prep_time %>"><br><br>
  <label>Cook Time:</label><br>
  <input type="text" name="cook_time" value="<%= @recipe.cook_time %>"><br><br>
  <label>Ingredients:</label><br>
  <textarea rows="5" cols="80" name="ingredients"><%= @recipe.ingredients %></textarea><br><br>
  <label>Instructions:</label><br>
  <textarea rows="5" cols="80" name="instructions"><%= @recipe.instructions %></textarea><br><br>
  <input type="submit" name="submit" value="Submit">

</form>
