<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="/style2.css" rel="stylesheet" type="text/css" />
</head>

<p id="top"><%= current_user.username %>   <a href="/recipes">Home</a> <a href="/recipes/new">New Recipe</a> <a href="/users/<%= current_user.id %>">My Recipes</a> <a href="/logout">Logout</a></p>

<h1>Recipes</h1>

<% @recipes.each do |recipe| %>

  <h2><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></h2>
  submitted by: <a href="/users/<%= recipe.user_id %>"><%= recipe.user.username %></a><br>
  average rating: <%= recipe.rating_avg %>/5 out of <%= recipe.reviews.count %> reviews

<% end %>
