<h1><%= @recipe.name %></h1>

<h4>Recipe By:</h4>
<p><%= @recipe.user.username %></p>

<h4>Category:</h4>
<p><%= @recipe.category %></p>

<h4>Prep Time:</h4>
<p><%= @recipe.prep_time %></p>

<h4>Cook Time:</h4>
<p><%= @recipe.cook_time %></p>

<h4>Ingredients:</h4>
<p><%= @recipe.ingredients %></p>

<h4>Instructions:</h4>
<p><%= @recipe.instructions %></p>

<form method="POST" action="/recipes/<%= @recipe.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" name="submit" value="Delete">
</form>

<a href='/recipes/<%= @recipe.id %>/edit'>Edit</a><br>

<a href='/recipes'>Index</a>
