<h1><%= @recipe.name %></h1>

<h4>Recipe By:</h4>
<p><a href="/users/<%= @recipe.user.id %>"><%= @recipe.user.username %></a></p>

<h4>Category:</h4>
<p><%= @recipe.category %></p>

<h4>Prep Time:</h4>
<p><%= @recipe.prep_time %></p>

<h4>Cook Time:</h4>
<p><%= @recipe.cook_time %></p>

<h4>Ingredients:</h4>
<p><%= @recipe.ingredients %></p>

<h4>Instructions:</h4>
<p><%= @recipe.instructions %></p>

<form method="POST" action="/recipes/<%= @recipe.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" name="submit" value="Delete">
</form>

<a href='/recipes/<%= @recipe.id %>/edit'>Edit</a><br>

<a href='/recipes/<%= @recipe.id %>/review'>Review</a><br>

<h2>Reviews</h2>

<% if @recipe.reviews.any? %>
  <% count = 1 %>
  <% @recipe.reviews.each do |review| %>
    <div>
      <%= count %>.<br>
      Posted by: <a href="/users/<%= review.user_id %>"><%= review.user.username %></a><br>
      Rating: <%= review.rating %><br>
      Content: <%= review.content %>
    </div><br><br>
    <% count += 1 %>
  <% end %>
<% else %>
    No reviews yet! Be the first.<br><br>
<% end %>

<a href='/recipes'>Index</a>
